<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Builder - <%- pageTitle %></title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/header.css">
</head>

<body>
    <div class="header">

        <h1 id="logo" onclick="window.location.href = '/'">Base Builder</h1>
    </div>